.footer {
	// .footer__logo
	background-color: $darkBlue;
	color: $white;
	padding: 2.5rem;
	text-align: center;

	a {
		color: $white;
	}

	&__logo {
		margin-bottom: 1.875rem;
		display: inline-block;
	}

	// .footer__social

	&__social {
		margin-bottom: 1.875rem;

		a {
			display: inline-block;
		}

		a:not(:last-child) {
			margin-right: 1rem;
		}
	}

	// .footer__links

	&__links {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.875rem;
		align-items: center;
		line-height: 2;
		&__col1 {
		}

		&__col2 {
			margin-bottom: 1.875rem;
		}

		a {
			flex: 0 0 auto;
		}
	}

	// .footer__cta

	&__cta {
		a.button {
			margin-bottom: 1.875rem;
		}
	}

	// .footer__copyright

	&__copyright {
	}
}
