.hero {
	background-color: $veryLight;
	.container {
		@include breakpoint-up(large) {
			display: flex;
			align-items: center;
		}
	}

	&__image {
		background: url("../../images/bg-intro-mobile.svg") center center/cover no-repeat;
		min-height: 17.5rem;
		position: relative;

		@include breakpoint-up(medium) {
			min-height: 25rem;
			background-position: center 60%;
		}

		@include breakpoint-up(large) {
			flex: 3;
			order: 2;
			height: 40.9375rem;
			background-image: none;
			//background: url("../../images/bg-intro-desktop.svg") left center/cover no-repeat;
		}

		&::before {
			@include breakpoint-up(medium) {
				background-size: 52%;
			}
			@include breakpoint-up(large) {
				content: "";
				width: 150%;
				height: 100%;
				background: url("../../images/bg-intro-desktop.svg") 0 83% / cover no-repeat;
				background-size: 122%;
				background-repeat: no-repeat;
				background-position: 0 83%;
				position: absolute;
			}
		}

		&::after {
			content: "";
			background: url("../../images/image-mockups.png") center 93% / cover no-repeat;
			width: 92%;
			height: 100%;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);

			@include breakpoint-up(large) {
				position: absolute;
				width: 120%;
				height: 122%;
				background-size: 94%;
				background-position: center 150%;
				left: 22%;
			}
		}
	}

	&__text {
		@include breakpoint-up(large) {
			flex: 2;
			order: 1;
			text-align: left;
		}
		text-align: center;

		p {
			line-height: 1.5;
			margin-bottom: 2.125rem;
		}
	}
}
